.product-card {
    display: flex;
    flex: 1;
    padding: 2rem;
    word-break: break-word;
    transition: 1s;
}

.product-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    padding: 0 1.25rem;
    width: 100%;
}

.product-card-info .product-card-info__text {
    padding: 1rem;
}