.cart{
    padding: 0 4rem;
}

.cart .cart-container {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cart-container__div{
    flex:1;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid var(--gray-light-color);
    border-radius: 0.625rem;
    min-width: 400px;
}

@media(max-width: 480px) {
    .cart {
        padding: 0 1rem;
    }
    .cart-container__div{
        min-width: 300px;
    }
}