.search {
    display: flex; 
    padding: 0.5rem; 
    flex: 1 1 0%; 
    justify-content: space-between; 
    align-items: center; 
    border-radius: 1rem; 
    gap: 1rem;
    background-color: var(--gray-light-color); 
    color: var(--gray-dark-color)
}

.search__input {
    flex: 1 1 0%;
    background-color: transparent;
    border: none;
    outline: 0;
}